<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         stopOnFailure="true"
         colors="true"
>
    <testsuites>
        <testsuite name="Feature-Initialization">
            <directory>tests/Feature/Initialization</directory>
        </testsuite>
        <testsuite name="Feature-Landlord">
            <directory>tests/Feature/Landlord</directory>
        </testsuite>
        <testsuite name="Feature-Accounts">
            <directory>tests/Feature/Accounts</directory>
        </testsuite>
        <testsuite name="Feature-AccountProfiles">
            <directory>tests/Feature/AccountProfiles</directory>
        </testsuite>
        <testsuite name="Feature-Events">
            <directory>tests/Feature/Events</directory>
        </testsuite>
        <testsuite name="Feature-Map">
            <directory>tests/Feature/Map</directory>
        </testsuite>
        <testsuite name="Feature-StaticAssets">
            <directory>tests/Feature/StaticAssets</directory>
        </testsuite>
        <testsuite name="Feature-Taxonomies">
            <directory>tests/Feature/Taxonomies</directory>
        </testsuite>
        <testsuite name="Feature-Tenants">
            <directory>tests/Feature/Tenants</directory>
        </testsuite>
        <testsuite name="Feature-Security">
            <directory>tests/Feature/Security</directory>
        </testsuite>
        <testsuite name="Feature-Push">
            <directory>tests/Feature/Push</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Initialization">
            <file>tests/Api/v1/Initialization/ApiV1InitializeTest.php</file>
        </testsuite>
        <testsuite name="Api-v1-Admin">
            <file>tests/Api/v1/Admin/ApiV1AdminValidationTest.php</file>
            <file>tests/Api/v1/Admin/ApiV1AdminRolesTest.php</file>
            <file>tests/Api/v1/Admin/ApiV1AdminUserTest.php</file>
            <file>tests/Api/v1/Admin/ApiV1AdminAuthTest.php</file>
            <file>tests/Api/v1/Admin/ApiV1AdminProfileTest.php</file>
            <file>tests/Api/v1/Admin/ApiV1AdminTenantTest.php</file>
            <file>tests/Api/v1/Admin/ApiV1BrandingAdminTest.php</file>
        </testsuite>
        <testsuite name="Api-v1-Tenant">
            <directory>tests/Api/v1/Tenants/Roles</directory>
            <directory>tests/Api/v1/Tenants/Users</directory>
            <directory>tests/Api/v1/Tenants/Account</directory>
            <directory>tests/Api/v1/Tenants/Branding</directory>
            <directory>tests/Api/v1/Tenants/Auth</directory>
            <directory>tests/Api/v1/Tenants/Media</directory>
        </testsuite>
        <testsuite name="Api-v1-Account">
            <directory>tests/Api/v1/Accounts/Roles</directory>
            <directory>tests/Api/v1/Accounts/Users</directory>
            <directory>tests/Api/v1/Accounts/Auth</directory>
            <directory>tests/Api/v1/Accounts/Profile</directory>
            <directory>tests/Api/v1/Accounts/Validation</directory>
        </testsuite>
        <testsuite name="Api-v1-Middleware">
            <file>tests/Api/v1/Admin/ApiV1AdminMiddlewareTest.php</file>
            <directory>tests/Api/v1/Tenants/Middleware</directory>
            <directory>tests/Api/v1/Accounts/Middleware</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <ini name="memory_limit" value="1024M"/>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_URL" value="http://nginx" />
        <env name="APP_HOST" value="nginx" />
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="DB_DATABASE" value="landlord_test" />
        <env name="DB_DATABASE_LANDLORD" value="landlord_test" />
        <env name="DB_DATABASE_TENANTS" value="tenants_test" />
    </php>
</phpunit>
